.toolbar {
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-size: 30px;
    height: 4rem;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.moduloClientes,.moduloProductos,.moduloVentasP{
    margin-left: 30%;
    margin-top: -155px;
}
.panelLateral{
    display: inline-grid;
    margin: 50px 0px 0px 65px;
}